/* Estilos generales para toda la página */


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
}

/* Resto de los estilos generales para toda la página */

@font-face {
  font-family: 'OTF GLUSP';
  src: url('font/mamenchisa-hnt00t.otf') format('opentype');
}

@font-face {
  font-family: 'Wild World';
  src: url('font/mamenchisa-hnt00t.otf') format('truetype'); /* Ajusta la ruta según la ubicación del archivo de fuente */
}

h1 {
  font-family: 'OTF GLUSP', Arial, sans-serif;
  font-size: 150px;
  /* Resto de los estilos para el h1 */
}

h2.custom-font {
  font-size: 36px; /* Tamaño de fuente para el h2 */
  font-family: 'Wild World', Arial, sans-serif; /* Utiliza la fuente Wild World, si no está disponible, usará Arial o una fuente sans-serif por defecto */
  /* Resto de los estilos para el h2 */
  text-align: center;
  margin: 0;
}
.container {
  display: flex; /* Utiliza el modelo de caja flex para el contenedor */
  justify-content: center; /* Centra el contenido horizontalmente en el contenedor */
  align-items: center; /* Centra el contenido verticalmente en el contenedor */
  height: 200px; /* Establece la altura del contenedor al 100% del alto de la ventana */

}
/* Resto de los estilos */

/* Resto de los estilos */

.background-gif {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('giphy\ \(1\).gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  animation: gifAnimation 10s linear infinite;
}

/* Resto de los estilos */

header {
  
  padding: 5px;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Resto de los estilos */

main {
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 1px;
}

form label,
form input,
form textarea,
form button {
  display: block;
  margin-bottom: 10px;
}

form input,
form textarea {
  width: 100%;
  padding: 5px;
}

form button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Estilos para el encabezado brillante */
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  pointer-events: none;
}

/* Media query para dispositivos con un ancho de pantalla máximo de 768px (como smartphones) */
@media (max-width: 768px) {
  h1 {
    font-size: 80px; /* Tamaño de fuente ajustado para dispositivos móviles más pequeños */
  }

  header {
    padding: 20px; /* Ajustar el espaciado del header en dispositivos móviles */
  }

  /* Otros ajustes de estilos para dispositivos móviles aquí */
}










/* Resto de los estilos generales para toda la página */

/* Estilo del contenedor del botón de Instagram */
.instagram-container {
  text-align: center; /* Centra el contenido horizontalmente en el contenedor */
  margin-top: 20px; /* Espacio superior para separar del contenido anterior */
  
}

/* Estilo del enlace con el logo de Instagram */
.instagram-button {
  display: inline-block;
  padding: 10px;
  background-color: transparent; /* Fondo transparente para el enlace */
  margin-top: -20px;
}

.instagram-button img {
  width: 5px; /* Ajusta el tamaño del logo según tus preferencias */
  height: 5px;
 
}

/* Cambiar el color del logo al pasar el cursor */
.instagram-button img:hover {
  filter: brightness(0.8); /* Reduce el brillo del logo al pasar el cursor */
}

/* Resto de los estilos */
